<div>
  <div class="h1">My favorite fruits</div>
  <p class="p">a list of fruits i like</p>
</div>
<div>
  <div class="h2">Citrus</div>
  <div>
    <div class="h3">Yuzu</div>
    <div class="p">Yuzu is, in my opinion, one of the most fragrent fruits.</div>
  </div>
  <div>
    <div class="h3">Pomelo</div>
    <p>Often, eaten during the winter, reminds me of home. They are really big</p>
  </div>
</div>
<div>
  <h2>Pitted</h2>
  <h3>Apricots</h3>
  <div>Apricots are great</div>
  <h3>Peaches</h3>
  <p>Peaches are great too</p>
</div>
<h2>Melons</h2>
melons are perhaps the most sweet.
